.imgButton {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.homeTitle {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #333;
    line-height: 1.2;
}

.homeSubtitle {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #666;
    line-height: 1.5;
}

.homeAlgorithmTitle {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    color: #333;
    line-height: 1.2;
}

.uploadingDataDivEnabled {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer
}

.uploadingDataDivDisabled {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: not-allowed;
    background-color: #f1f1f1;
}

.trashIcon {
    cursor: pointer;
    margin: 5px;
    visibility: hidden;
}

.trashIcon:hover {
    color: red;
}

.generatorRow:hover .trashIcon {
    visibility: visible;
}
